@model Store.Models.EditProductViewModel

@{
    ViewBag.Title = "Admin module: editing " + Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Editing @Model.Name</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            @foreach (var prop in ViewData.ModelMetadata.Properties)
            {
                switch (prop.PropertyName)
                {
                    case "Image":
                    case "ImageMimeType":
                        break;
                    default:
                        <div class="form-group">
                            <label>@prop.PropertyName</label>
                            @if (prop.PropertyName == "Description")
                            {
                                @Html.TextArea(prop.PropertyName, null, new { @class = "form-control", rows = 5 })
                            }
                            else
                            {
                                @Html.TextBox(prop.PropertyName, null, new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(prop.PropertyName)
                        </div>
                        break;
                }
            }

            
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })

        </div>
    }
</div>